.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close{
  opacity: 0;
}

.modal {
  background: $dark-blue;
  color: white;
  max-width: 30rem;
  outline: none;
  padding: $m-size;
  text-align: center;
}

.modal__title {
  margin: 0 0 $m-size 0;
  font-size: 2rem;
}

.modal__body {
  margin: 0 0 $l-size 0;
  font-size: 1.6rem;
  font-weight: 300;
}

.modal__button {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}